{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    <li>Admin</li>
    <li class="active">CR Users</li>
{% endblock %}

{% block content_body %}

    <div class="row">
        <a href="{{ url('application_user_admin_new') }}" class="btn btn-default btn-primary">New User</a>
    </div>

    <div class=" users">

        <ul class="nav nav-tabs">
            <li {% if show == 'all' %}class="active"{% endif %}>
                <a href="?show=all">
                    All<span class="badge">{% if badges.all is defined %}{{ badges.all }}{% endif %}</span>
                </a>
            </li>
            <li {% if show == 'admin' %}class="active"{% endif %}>
                <a href="?show=admin">
                    Admin<span class="badge">{% if badges.ROLE_ADMIN is defined %}{{ badges.ROLE_ADMIN }}{% endif %}</span>
                </a>
            </li>
            <li {% if show == 'tracked' %}class="active"{% endif %}>
                <a href="?show=tracked">
                    Tracked<span class="badge">{% if badges.tracked is defined %}{{ badges.tracked }}{% endif %}</span>
                </a>
            </li>
            <li {% if show == 'inclan' %}class="active"{% endif %}>
                <a href="?show=inclan">
                    In
                    Clan<span class="badge">{% if badges.inclan is defined %}{{ badges.inclan }}{% endif %}</span>
                </a>
            </li>
            <li {% if show == 'noclan' %}class="active"{% endif %}>
                <a href="?show=noclan">
                    No
                    Clan<span class="badge">{% if badges.noclan is defined %}{{ badges.noclan }}{% endif %}</span>
                </a>
            </li>
            <li {% if show == 'clan' %}class="active"{% endif %}>
                <a href="?show=clan">
                    Clan/Clan
                    Admin<span class="badge">{% if badges.ROLE_CLAN is defined %}{{ badges.ROLE_CLAN }}{% endif %}</span>
                </a>
            </li>
        </ul>

        <table id="users" class="datatable_fixed_column table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Tracked</th>
                <th>Import</th>
                <th class="text-center"><span class="mobile-hide">Max </span>Chalng</th>
                <th class="text-center">
                    <i class="icon war-win" title="War Wins"></i>
                </th>
                <th class="text-center">
                    <i class="icon war-cards" title="Cards Collected"></i>
                </th>
                <th class="text-center">PB</th>
                <th class="text-center">Win %</th>
                <th class="text-center">Chalng Cards</th>
                <th class="text-center" title="Gold League">lvl 11</th>
                <th class="text-center" title="Legendary League">lvl 12</th>
                <th class="text-center" title="Max">lvl 13</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        {{ include('@ApplicationClan/Partial/User/partial-nickname-display-with-tag.html.twig',{'clanUser': user,'clan': user.clan}) }}
                    </td>

                    <td class="text-center">
                        {% if user.isTracked %}{{ 'common.yes'|trans }}{% else %}{{ 'common.no'|trans }}{% endif %}
                    </td>
                    <td class="text-center">
                        {% if user.lastImported %}
                            <div title="{{ user.lastImported|date('Y-m-d H:i:s') }}">
                                {{ user.lastImported|date('Y-m-d') }}
                            </div>
                        {% endif %}
                    </td>

                    {% if user.crStat %}
                        <td class="text-center">{{ user.crStat.challengeMaxWins }}</td>
                        <td class="text-center">{{ user.crStat.warDayWins }}</td>
                        <td class="text-center">{{ user.crStat.numberShort(user.crStat.clanCardsCollected) }}</td>
                        <td class="text-center">{{ user.crStat.numberShort(user.crStat.maxTrophies) }}</td>
                        <td class="text-center">{{ (user.crStat.winsPercent * 100 )|number_format(1) }}%</td>
                        <td class="text-center">
                            <a href="{{ path('application_clan_public_playershow', {id: user.id}) }}">
                                {{ user.crStat.numberShort(user.crStat.challengeCardsWon) }}
                            </a>
                        </td>
                    {% else %}
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    {% endif %}

                    {% set goldPerc = user.getOverallCardsPercentage('gold') %}
                    {% set legendPerc = user.getOverallCardsPercentage('legendary') %}
                    {% set maxPerc = user.getOverallCardsPercentage('lvl13') %}

                    <td class="text-center {% if goldPerc < 50 %}text-danger{% endif %}">
                        {{ (goldPerc)|number_format }}%
                    </td>
                    <td class="text-center {% if legendPerc < 50 %}text-danger{% endif %}">
                        {{ (legendPerc)|number_format }}%
                    </td>
                    <td class="text-center {% if maxPerc < 50 %}text-danger{% endif %}">
                        {{ (maxPerc)|number_format }}%
                    </td>

                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{{ url('application_user_admin_edit', {'user': user.id}) }}" class="btn btn-default">
                                Edit
                            </a>
                            <a href="{{ url('application_clan_member_import', {'tag': user.tag}) }}" class="btn btn-default">
                                Import PLayer Info
                            </a>
                            <a href="{{ url('application_clan_clan_userimportbattles', {'id': user.id}) }}" class="btn btn-default">
                                Import btls
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}
