{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('fos_user_profile_show') }}">Profile</a>
    </li>
    <li class="active">{{ app.user }}</li>
{% endblock %}

{% block fos_user_content %}
    <div class="col-md-3">
        <div class="form">
            <fieldset>
                <legend>{{ 'profile.profile'|trans }}</legend>
                <form action="{{ url('fos_user_profile_edit') }}" method="POST" class="fos_user_profile_edit">
                    {{ form_widget(form) }}

                    <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-default btn-primary" />

                </form>
            </fieldset>
        </div>
    </div>
{% endblock fos_user_content %}
